<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="icon" href="/assets/img/grupo logo.svg">
    <link rel="stylesheet" href="/assets/css/endereco.css">
    <title>Adiconar Endereço</title>
</head>

<body>
    <div class="nav">
        <a href="/user/carrinho"><button class="return"><i class="bi bi-arrow-left"></i></button></a>
        <p>Endereço</p>
    </div>


    <div class="container">
            <div class="infos">
                <div class="colum">
                    <label>RUA</label>
                    <input type="text">
                    <label>BAIRRO</label>
                    <input type="text" class="iu">
                </div>
                <div class="colum">
                    <label>NÚMERO</label>
                    <input type="text">
                    <label>COMPLEMENTO</label>
                    <input type="text" class="iu">
                </div> 
                <button id="button">Confirmar Endereço</button>
                <button id="button1">Tornar endereço padrão</button>
            </div>
    </div>
</body>

</html>