<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/meuspedidos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="icon" href="/assets/img/grupo logo.svg">
    <title>Meus Pedidos</title>
</head>

<body>
    <div class="nav">
        <a href="/user/home"><button class="return"><i class="bi bi-arrow-left"></i></button></a>
        <p>Meus Pedidos</p>
    </div>
    <main>
        <div class="container">
            <div class="itens" id="iten1">
                <div class="campo1">
                    <img src="/assets/img/atenolol.png">
                    <p>Atenolol 55mg com 30 comprimidos Germed</p>
                </div>
                <div class="campo2">
                    <h3>HORÁRIO</h3>
                    <p>12:00 - 13:30</p>
                </div>
                <div class="campo3">
                    <h3>RUA</h3>
                    <p>Fabricio Araujo de Almeida</p>
                </div>
                <div class="campo4">
                    <h3>ENDEREÇO</h3>
                    <p>218947500</p>
                </div>
                <div class="campo5">
                    <button class="cancel" id="cancel1">Cancelar entrega</button>
                    <a href="/user/rastrear"><button class="rastreio">Rastrear pedido</button></a>
                </div>
            </div>
            <div class="itens" id="iten2">
                <div class="campo1">
                    <img src="/assets/img/budesodina.png">
                    <p>Budesonida 32mcg spray nasal 120 doses - ems(g)</p>
                </div>
                <div class="campo2">
                    <h3>HORÁRIO</h3>
                    <p>12:00 - 13:30</p>
                </div>
                <div class="campo3">
                    <h3>RUA</h3>
                    <p>Antonio Fernandes Bezerra</p>
                </div>
                <div class="campo4">
                    <h3>ENDEREÇO</h3>
                    <p>975993200</p>
                </div>
                <div class="campo5">
                    <button class="cancel" id="cancel2">Cancelar entrega</button>
                    <a href="/user/rastrear"><button class="rastreio">Rastrear pedido</button></a>
                </div>
            </div>
            <div class="itens" id="iten3">
                <div class="campo1">
                    <img src="/assets/img/amoxilina.png">
                    <p>amoxicilina + clavulanato de potássio</p>
                </div>
                <div class="campo2">
                    <h3>HORÁRIO</h3>
                    <p>06:00 - 10:30</p>
                </div>
                <div class="campo3">
                    <h3>RUA</h3>
                    <p>Parque Santa Rosa</p>
                </div>
                <div class="campo4">
                    <h3>ENDEREÇO</h3>
                    <p>248747503</p>
                </div>
                <div class="campo5">
                    <button class="cancel" id="cancel3">Cancelar entrega</button>
                    <a href="/user/rastrear"><button class="rastreio">Rastrear pedido</button></a>
                </div>
            </div>
        </div>
    </main>
    


    <script src="/assets/js/meusPedidos.js"></script>ri
</body>

</html>