<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Itim&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/assets/css/produto.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="icon" href="/assets/img/grupo logo.svg">
    <title>Adicionar Produto</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/user/home"><button class="return"><i class="bi bi-arrow-left"></i></button></a>
            <p>Adicionar Produto</p>
        </div>
    </header>
    <main>
        <article class="product">
            <section class="infors">
                <div class="flex-column">
                    <img src="/assets/img/hidratante.png" alt="Imagem do produto" class="product__image">
                </div>
                <div class="product-captions flex-column">
                    <h1 class="product__brand">O Boticário</h1>
                    <h2 class="product__name">
                        Loção hidratante desodorante corporal cuide-se bem bubbaloo morango 400ml
                    </h2>
                    <img src="/assets/img/stars.svg" alt="Imagem de estrelas" class="product__rating">
                    <h2 class="product__price">R$ 60,00</h2>
                    <a href="#" class="product__button">Comprar</a>
                    <div class="product-qty">
                        <div class="product-qty__column">-</div>
                        <div class="product-qty__column">0</div>
                        <div class="product-qty__column">+</div>
                    </div>
                </div>
            </section>

            <section class="description">
                <h2 class="description__title">Descrição</h2>
                <h3 class="product__description">
                    Loção Hidratante Desodorante Corporal Cuide-se Bem Bubbaloo é um delicioso hidratante coporal que deixa sua pele macia, sedosa e perfurmada com o cheirinho inconfundível de Bubbaloo de Morango
                </h3>
            </section>

            <section class="rating">
                <h2 class="rating__title">Avaliações</h2>
                <img src="/assets/img/stars.svg" alt="Imagem de estrelas" class="product__rating">
                <ul class="ratings">
                    <li class="ratings__item">
                        <span class="ratings__author">
                            <strong>Ass:</strong>Monick Cristina
                        </span>
                        <p class="ratings__rating">
                            É muito bom, o cheirinho é gostoso demais
                        </p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
</body>
</html>