<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Itim&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/suporte.css">
    <link rel="icon" href="/assets/img/grupo logo.svg">
    <title>Suporte Técnico</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/user/home"><button class="return"><i class="bi bi-arrow-left"></i></button></a>
            <p>Suporte</p>
        </div>
    </header>
    <main>
        <article class="product-support">
            <div class="flex-column">
                <div class="product-support__icon-container">
                    <img src="/assets/img/attendant-2.png" alt="Imagem de atendente" class="product-support__icon">
                </div>
            </div>
            <div class="flex-column">
                <section class="type">
                    <h2 class="type__title">Olá, como posso ajudar você?</h2>
                    <div class="type__grid">
                        <a href="" class="type__button">Pedido errado</a>
                        <a href="" class="type__button">encomenda danificada</a>
                        <a href="" class="type__button">Atraso na entrega</a>
                        <a href="" class="type__button">mau atendimento</a>
                        <a href="" class="type__button">Devolução e reembolso</a>
                        <a href="" class="type__button">Erro no site</a>
                        <a href="" class="type__button">erro na hora de compra</a>
                        <a href="" class="type__button">Erro no depósito</a>
                        <a href="" class="type__button">pedido cancelado</a>
                    </div>
                </section>
                <section class="contact">
                    <div class="flex-column">
                        <img src="/assets/img/attendant.svg" alt="Imagem de atendente" class="contact__icon">
                    </div>
                    <div class="flex-column">
                        <h2 class="contact__title">Ainda precisa de ajuda? Entre em contato com nós.</h2>
                        <div class="contact__flex">
                            <a href="" class="contact__button">Entrar em contato com a equipe</a>
                            <a href="" class="contact__button">Entrar em contato com o fornecedor</a>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </main>
</body>
</html>